<h2 id="nuevoProducto">Registro de nuevo producto</h2>
<form method="post" id="formRegistrarProducto">
  <div class="input-group mb-3">
  <input type="text" name="nombre" class="form-control" placeholder="nombre producto" aria-label="Username">
  <span class="input-group-text">@</span>
  <input type="number" name="precio "class="form-control" placeholder="precio producto" aria-label="Server">
  <input type="number" name="cantidad" class="form-control" placeholder="cantidad de producto" aria-label="Username">
  <span class="input-group-text">@</span>
  <input type="text" class="imagen " placeholder="form control" aria-label="imagen del producto">
</div>
<span class="input-group-text">@</span>
    <input type="text" name="imagen" class="form-control" placeholder="Imagen del producto" aria-label="Server">
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Registrar</button>
    </div>
    
</form>
<script> src="/js/productos/registrarProducto.js"</script>