<h2 id="nuevoProducto">Nuevo producto</h2>
<form id="formRegistrarProducto" enctype="multipart/form-data">
    <div class="input-group mb-3">
      <input type="text" name="nombre" class="form-control" placeholder="Nombre" aria-label="Username">
      <span class="input-group-text">@</span>
      <input type="number" name="precio" class="form-control" placeholder="Precio" aria-label="Server">
    </div>
    <div class="input-group mb-3">
      <input type="number" name="cantidad" class="form-control" placeholder="Cantidad" aria-label="Username">
      <span class="input-group-text">@</span>
      <input type="text" name="imagen" class="form-control" placeholder="Imagen" aria-label="Server">
    </div>
    <div class="d-grid gap-2 col-12 mx-auto">
      <button class="btn btn-primary" type="submit">Registrar</button>
    </div>
</form>
<script src="/js/registrarProducto.js"></script>